$home-section-div-bdr: 3px solid #222
$home-article-div-bdr: 1px solid $clr-top-bdr
$home-no-img-bdr: 5px solid $da-dark

.site-content
  > section
    padding:
      top: 1rem
      bottom: 1rem

    @include breakpoint($desktop)
      padding:
        top: 1.5rem
        bottom: 2rem

    .container
      .columns
        width: 100%
        margin: 0
        // margin-bottom: 1rem

        &:last-child
          margin: 0

        .column
          &.is-topmost
            border:
              top: 4px solid #222

          &.is-top
            border-top: 1px solid #222

.front-cover
  $p: &

  > .columns
    border-bottom: $home-section-div-bdr

  .home &
    .article
      font-size: 1.4rem

      @include breakpoint($desktop)
        font-size: 1.6rem

    #{$p}-wrap
      border-top: $home-section-div-bdr

      &:first-child
        border-top: 0

    #{$p}-level
      @include breakpoint(0 $desktop)
        padding:
          left: 1rem
          right: 1rem

      > .columns
        padding:
          top: 0
          bottom: 1rem

        @include breakpoint($desktop)
          padding-bottom: 2.5rem

    #{$p}-head
      padding:
        top: 0
        bottom: 1rem
      color: $da-mono
      border-bottom: 1px solid #eee
      font:
        family: $ff-noto
        weight: 400
        size: 1.15em

    #{$p}-quick, #{$p}-main
      padding-top: 1.5rem

    #{$p}-quick
      padding:
        right: 1.5rem
        bottom: 1rem
        left: 1.5rem
      background-color: #fbfbfb

      & #{$p}-body
        .article
          padding: 0.7rem 0
          // border-bottom: 1px solid #ddd

          @include breakpoint($desktop)
            padding: 1.2rem 0

          &:last-child
            border-bottom: 0

          &__title
            font:
              weight: 400
              family: $ff-noto
              size: 1em
            letter-spacing: -0.05rem

          &__excerpt
            color: #696d70
            font-size: 0.8em

    #{$p}-main
      @include breakpoint($desktop)
        padding:
          left: $pad-top-main

      &.is-topmost
        border-top-color: #555 !important

    #{$p}-focus, #{$p}-side
      padding: 2rem 0 0

      @include breakpoint($desktop)
        padding: 1.5rem 0 0

    #{$p}-focus
      @include breakpoint($desktop)
        padding-right: $pad-top-main
        border-right: $home-article-div-bdr

    #{$p}-ftop
      .article
        font-size: 1.4rem
        text-align: center

        @include breakpoint($desktop)
          font-size: 1.6rem

        &__image
          height: 30rem

          @include breakpoint($desktop)
            height: 40rem

        &__title, &__excerpt
          line-height: 1.3

        &__title
          max-width: 90%
          margin: 0.7rem auto
          font-size: 1.5em

          @include breakpoint($desktop)
            max-width: 80%
            margin: 0.5rem auto
            font-size: 1.9em

        &__excerpt
          @include breakpoint($desktop)
            font-size: 1.1em

    #{$p}-fsup
      $pa: &

      border-top: $home-article-div-bdr

      .article
        margin: 1.5rem 0 2rem

        @include breakpoint($desktop)
          margin: 1.5rem 0

        &__wrapper
          display: flex
          align-items: center

        &__image, &__content
          flex: 1

        &__image
          display: none
          margin: 0

          @include breakpoint($desktop)
            display: inline
            height: 16rem
            max-width: 40%

        &__content
          @include breakpoint($desktop)
            padding: 0 0.5rem 0 1.5rem

        &__category
          font-size: 0.8em

      @include even-child('.article')
        .article__content
          @include breakpoint($desktop)
            padding: 0 1.5rem 0 0.5rem

    #{$p}-side
      border-top: $home-section-div-bdr

      @include breakpoint($desktop)
        padding-left: $pad-top-main
        border-top: 0

      .article
        padding: 1.5rem 0
        border-bottom: $home-article-div-bdr

        @include breakpoint($desktop)
          padding: 1.8rem 0

        &:first-child
          padding-top: 0

        &:last-child
          border-bottom: 0

        &__image
          height: 22rem
          margin: 0 0 1.5rem

          @include breakpoint($desktop)
            margin-bottom: 1rem

        &__category
          font-size: 0.7em

        &__title
          @include breakpoint($desktop)
            font-size: 1.1em

    #{$p}-more, #{$p}-deerfield
      padding: 0

      #{$p}-title
        padding:
          top: 1rem
          left: 1rem

      #{$p}-body
        padding: 1rem 0

        @include breakpoint($desktop)
          padding: 1rem

    #{$p}-more
      @include breakpoint($desktop)
        border-right: $home-article-div-bdr

      #{$p}-body
        @include breakpoint($desktop)
          padding:
            left: 0
            right: $pad-top-main

      .column
        @include breakpoint($desktop)
          padding: 0 1rem 1.5rem

        &.is-last
          @include breakpoint($desktop)
            padding-bottom: 0

      @include odd-child('.column.is-6')
        @include breakpoint($desktop)
          padding-left: 0

      @include even-child('.column.is-6')
        @include breakpoint($desktop)
          padding-right: 0

      .article
        &__image
          @include breakpoint($desktop)
            height: 20rem

        &__category
          @include breakpoint($desktop)
            display: none

        &__title
          font-weight: 400

    #{$p}-deerfield
      border-top: $home-section-div-bdr

      @include breakpoint($desktop)
        border-top: 0

.cover
  &-full-title
    color: #444
    font:
      size: 1.2em
      weight: 700
      family: $ff-noto

    @include breakpoint($desktop)
      font-size: 1.4em

    strong
      color: $da-mono
      transition: inherit

    a
      display: inline-block
      position: relative
      padding-right: 0.1rem

      &:hover, &:active
        color: $da-mono

        strong
          color: $da-dark

        span
          border-left-color: $da-mono

      & span
        @include transition(0.3s, 'border-color')

        display: inline-block
        margin-left: 0.7rem
        border:
          top: 0.7rem solid transparent
          right: 1rem solid transparent
          bottom: 0.7rem solid transparent
          left: 1rem solid #444

  &-divi
    > .columns
      padding-bottom: 1.5rem
      border-bottom: $home-section-div-bdr

      @include breakpoint($desktop)
        padding-bottom: 2rem

  &-news, &-features
    .column:last-child
      .article
        padding-bottom: 0
        border-bottom: 0

    .article
      padding-bottom: 2rem
      border-bottom: $home-article-div-bdr

      @include breakpoint($desktop)
        margin-right: 0.5rem
        padding-bottom: 0
        border-bottom: 0

      &.no-image
        padding-top: 0.7rem
        border-top: 3px solid $da-mono

      &__image
        height: 22rem

        @include breakpoint($desktop)
          height: 27rem
          margin-top: 0

      &__title
        font-weight: 400

      &__excerpt
        padding-top: 0.3rem
        color: $excerpt-light

  &-opinion, &-sports, &-buzz
    .column
      padding: 1.2rem 1rem

      &.is-4
        border-bottom: $home-article-div-bdr

        @include breakpoint($desktop)
          border-bottom: 0

        &:last-child
          border-bottom: 0

  &-sports
    .cover-full-title a strong
      color: $da-mono

  &-editorial
    .column
      padding: 0.8rem 1rem

  &-ae
    .article
      &__wrapper, &__image
        position: relative

      &__image::before, &__content
        position: absolute
        right: 0
        bottom: 0
        left: 0

      &__image
        height: 22rem

        @include breakpoint($desktop)
          height: 30rem

        &::before
          content: ''
          height: 55%
          background-image: linear-gradient(to top, #1e1e1e, rgba(30,30,30,0))

      &__content
        padding: 1rem 2rem

      &__title
        position: relative
        padding-left: 1rem
        color: #fff
        border-left: 3px solid #f76262

        // &::before
        //   content: ''
        //   position: absolute
        //   height: 2px
        //   width: 2rem
        //   top: -7px
        //   background-color: #f76262

      &.no-image
        .article
          &__content
            position: relative
            border-top: $home-no-img-bdr

          &__title
            color: #222

#editorial
  &-wrapper
    color: #444
    background-color: #f5f5f5
    border-top: $home-no-img-bdr

    @include breakpoint($desktop)
      padding: 2rem 0 3rem
