@import '_vars';

*,*::before,*::after{
  box-sizing:border-box;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
  &::before,&::after{@extend *;}
}
html, body{position:relative;margin:0;padding:0;background-color:$bgc-m;color:$cl-m;font-weight:500;font-family:'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;line-height:1.3;-webkit-font-smoothing:antialiased;}
// font-family:'Libre Baskerville', Arial, sans-serif;
body{min-height:100vh;overflow-x:hidden;}
ul{
  margin:0;padding:0;list-style-type:none;
  &.ul-bullets{list-style-type:circle;}
}
img{position:relative;}
img,pre{max-width:100%;overflow:auto;vertical-align:middle;}
a{
  &,&:focus,&:hover,&:active{color:inherit;text-decoration:none;}
  &.proper-a{
    color:#118fb6;border-bottom:1px dotted #118fb6;transition:all 0.3s cubic-bezier(0.6, 0.1, 0.3, 0.8);
    &:hover,&:active{color:#0c7393;border-bottom:1px solid #0e7d9f;}
  }
}

.container,.hfront__container{
  max-width:1360px;margin:0 auto;padding-left:50px;padding-right:50px;
}

#site{
  &-nav{
    // font-family:'Libre Baskerville', Arial, sans-serif;
  }
  &-content{
    padding-top:20px;padding-bottom:30px;
    &.nopad{padding-top:0;}
  }
}

//
//  Nav
//
.site-nav{
  font-size:0;
  &-top{
    padding:8px 0;color:#fff;background-color:#333;
    &-item{}
  }
  &-content{
    padding-top:30px;
  }
  &-icon{display:block;width:367px;height:50px;margin:0 auto;background-image:url('../images/deerfield-scroll-logo.png');background-size:100% 100%;background-position:center;background-repeat:no-repeat;}
  &-info{
    margin-top:6px;text-align:center;
    &-item{
      display:inline-block;position:relative;margin:0 8px;padding:1px 2px;font-size:13px;
      &::after{content:'';position:absolute;height:15px;width:1px;top:50%;right:-8px;background-color:#8c8c8c;transform:translateY(-50%);}
      &:last-child::after{display:none;}
    }
  }
  &-category{
    margin-top:10px;padding-bottom:5px;border-bottom:1px solid #d5d5d5;text-align:center;
    & li{display:inline-block;margin-right:10px;font-size:16px;}
    & a{display:block;padding:2px 4px;}
  }
}
.stnav__stock{
  display:flex;font-size:0;
  &-ticker{
    flex:1 1;font-weight:400;
    &:last-child{margin-right:0;}
  }
  &-col{
    display:inline-block;position:relative;margin-right:5px;font-size:13px;letter-spacing:-0.3px;vertical-align:middle;
    &:last-child{margin-right:0;}
  }
  &-value{font-weight:bold;}
  &-change{
    .up &{color:$jungle-green;}
    .down &{color:$carmine-pink;}
  }
  &-dir{
    height:9px;width:9px;top:0;margin-left:2px;border-radius:100px;background-color:#eee;
    .up &{background-color:$jungle-green;}
    .down &{background-color:$carmine-pink;}
  }
}

.mini-nav{
  &-content{padding-top:20px;}
  &-icon{display:block;width:257px;height:35px;margin:0 auto;background-image:url('../images/deerfield-scroll-logo.png');background-size:100% 100%;background-position:center;background-repeat:no-repeat;}
  &-category{
    margin-top:10px;padding-bottom:10px;border-bottom:1px solid #d5d5d5;text-align:center;user-select:none;
    & li{display:inline-block;margin-right:5px;font-size:15px;}
    & a{display:block;padding:2px 4px;}
  }
}

//
// article
//
.article{
  &,&__wrapper{display:block;position:relative;}
  &__image{
    display:block;width:100%;background-size:cover;background-position:center;background-repeat:no-repeat;z-index:9;overflow:hidden;
    &:hover,&:active ~ .article__content .article__title{text-decoration:underline;}
    &.no-image{display:none;}
  }
  &__content{position:relative;z-index:10;}
  &__category{color:#cd2653;font-size:15px;font-weight:300;font-family:'Cormorant Garamond', sans-serif;text-transform:uppercase;}
  &__title{
    font-size:20px;font-weight:bold;font-family:'Spectral', sans-serif;
    & a{
      display:inline-block;
      &:hover,&:active{text-decoration:underline;}
    }
  }
  &__excerpt{color:#8c8c8c;font-size:13px;line-height:1.2;}
}

//
// footer
//
.site-footer{
  color:#eee;background-color:#2f2f2f;font-size:0;font-family:'Spectral', sans-serif;
  &__wrapper{padding:40px 0;}
  &__head{padding-bottom:15px;border-bottom:1px solid #555;}
  &__body{display:flex;padding-top:25px;}
  &__block{
    display:inline-block;padding-right:50px;font-size:17px;
    &:last-child{padding-right:0;}
    &-alpha{width:40%;}
    &-beta{width:20%;}
  }
  // custom
  &__logo,&__list-title{font-weight:900;letter-spacing:-0.5px;}
  &__logo{font-size:26px;}
  &__desc{color:#d5d5d5;font-size:15px;line-height:1.4;letter-spacing:0.5px;}
  &__list{
    &-title{font-size:24px;line-height:1.2;}
    &-content{padding-top:10px;color:#d5d5d5;}
    & li{display:block}
    & a{
      display:inline-block;padding:1px;
      &:hover,&:active{text-decoration:underline;}
    }
  }
}
