@import '_vars';

#posts-news{background-color:#eee;}
#posts-editorial{background-color:#f0f0f0;}
#posts-ae .hfprefmt{
  padding-bottom:0;
  @media (min-width: $screen-m){padding-bottom:2.5rem;}
}

// #home-top{padding-top:1.5rem;}
#hfront-top{padding-top:5rem;}

/*
    stack
*/
.stack{
  &-wrapper,&-section,&-row{display:flex;flex-flow:column wrap;}
  &-wrapper,&-row{
    @media (min-width: $screen-m){flex-flow:row nowrap;}
  }
  //
  // style name: hero
  //
  &.hero &-wrapper{
    border-bottom:1px solid $bdc-m;
  }
  &.hero &-section{
    flex:1 1;
    // top-level: main, side
    &.main{
      min-width:100%;
      @media (min-width: $screen-m){min-width:auto;}
    }
    &.side{
      display:none;
      @media (min-width: $screen-m){display:block;max-width:25%;border-right:1px solid $bdc-m;}
    }
  }
  &.hero &-row{
    border-bottom:1px solid $bdc-m;
    &:last-child,&.mod{border-bottom:0;}
  }
  &.hero &-col{
    flex:1 1;border-right:0;
    @media (min-width: $screen-m){border-right:1px solid $bdc-m;}
    &.fluid,&.right{
      @media (min-width: $screen-m){border-right:0;}
    }
    // sub-level (of main): left, right
    &.left,&.right{
      min-width:100%;
      @media (min-width: $screen-m){min-width:auto;}
    }
    &.left{
      @media (min-width: $screen-m){max-width:60%;}
    }
    &.right{
      @media (min-width: $screen-m){max-width:40%;}
    }
    //
    // mix
    &-head,&-body{
      padding-left:2rem;padding-right:2rem;
      @media (min-width: $screen-m){padding-left:3.5rem;padding-right:3.5rem;}
    }
    //
    // head
    &-head{
      padding-top:0.8rem;padding-bottom:0.6rem;border-bottom:1px solid $bdc-m;
      @media (min-width: $screen-m){padding-top:1.2rem;padding-bottom:1rem;}
      &-name{
        color:$dagreen;font-size:1.4rem;font-weight:400;font-family:'Noto Sans', sans-serif;text-transform:uppercase;text-align:center;letter-spacing:-0.1px;
        @media (min-width: $screen-m){font-size:1.5rem;text-align:left;}
        & span{font-weight:bold;}
      }
    }
    //
    // body
    &-body{
      display:flex;flex-flow:column wrap;padding-top:1rem;padding-bottom:1rem;
      @media (min-width: $screen-m){padding-top:2rem;padding-bottom:2rem;}
      & .article{
        flex:1 1;
      }
      // quick
      &.quick .article{
        margin-bottom:1em;
        &__category{
          font-size:1.15rem;letter-spacing:0;
        }
        &__title{
          margin:0.3em 0;font-size:1.4rem;line-height:1.2;
          @media (min-width: $screen-m){font-size:1.6rem;}
        }
        &__excerpt{
          font-size:1.3rem;line-height:1.2;
        }
      }
      // headlines
      &.headlines-1,&.headlines-3{
        & .stack-item:last-child .article{
          margin:1rem 0;
          &__category,&__title{
            @media (min-width: $screen-m){display:inline-block;vertical-align:middle;}
          }
          &__category{
            font-size:1.3rem;
            @media (min-width: $screen-m){margin-right:1rem;font-size:1.4rem;}
          }
          &__title{
            margin:0.3rem 0;font-size:1.5rem;white-space:wrap;
            @media (min-width: $screen-m){font-size:1.6rem;}
          }
        }
      }
      &.headlines-1{
        .article{
          &__category{
            margin-top:0.5rem;letter-spacing:0;
            @media (min-width: $screen-m){margin-top:0;}
          }
          &__title{margin:0.5rem 0;line-height:1.3;}
          &__image{margin:1.5rem 0;}
        }
        & .stack-item:first-child .article{
          width:100%;margin-bottom:0.5rem;padding-bottom:0.5rem;border-bottom:1px solid $bdc-m;text-align:center;
          @media (min-width: $screen-m){margin-bottom:1rem;padding-bottom:1rem;}
          &__title,&__excerpt{line-height:1.3;}
          &__category{
            font-size:1.4rem;
            @media (min-width: $screen-m){font-size:1.6rem;}
          }
          &__title{
            // font-family:Georgia, serif;
            max-width:90%;margin-left:auto;margin-right:auto;font-size:2.6rem;
            @media (min-width: $screen-m){max-width:80%;font-size:3.4rem;}
          }
          &__excerpt{
            font-size:1.6rem;
            @media (min-width: $screen-m){font-size:1.8rem;}
          }
          &__image{
            height:30rem;
            @media (min-width: $screen-m){height:40rem;}
          }
        }
        & .stack-item:last-child .article{
          &:first-child{
            margin:1rem 0 1.5rem;
            .article{
              &__wrapper{
                @media (min-width: $screen-m){display:flex;align-items:center;}
              }
              &__image,&__content{
                @media (min-width: $screen-m){flex:1;}
              }
              &__image{
                height:20rem;margin:0;
                @media (min-width: $screen-m){height:16rem;max-width:40%;}
              }
              &__content{
                @media (min-width: $screen-m){padding-left:1.5rem;}
              }
              &__category{display:block;}
            }
          }
        }
      }
      &.headlines-2{
        .article{
          margin-bottom:1rem;padding-bottom:1rem;border-bottom:1px solid $bdc-m;
          &:last-child{border-bottom:0;}
          @media (min-width: $screen-m){margin-bottom:2rem;padding-bottom:2rem;}
          &__image{
            height:15rem;margin-bottom:1rem;
            @media (min-width: $screen-m){height:20rem;}
          }
          &__title{margin:0.5rem 0;}
        }
      }
      &.headlines-3 .stack-item{
        &:first-child{
          display:flex;flex-flow:column wrap;
          @media (min-width: $screen-m){flex-flow:row nowrap;}
          .article{
            flex:1 1;
            @media (min-width: $screen-m){width:50%;}
            &:first-child{
              margin-bottom:1rem;
              @media (min-width: $screen-m){padding-right:1rem;margin-bottom:0;}
            }
            &:last-child{
              @media (min-width: $screen-m){padding-left:1rem;}
            }
            &__image{
              height:20rem;
              @media (min-width: $screen-m){height:15rem;}
            }
            &__category{
              margin:0.5rem 0;font-size:1.3rem;
            }
            &__title{
              font-size:1.5rem;
              @media (min-width: $screen-m){font-size:1.7rem;}
            }
          }
        }
      }
    }
  }
  &.hero &-block{
    margin-bottom:1rem;
    @media (min-width: $screen-m){margin-bottom:2rem;}
  }
  //
  // style name: ae
  //
}

// home front
.hfstack{
  &-alpha{font-size:0;}
  &-alpha &-col{
    display:inline-block;vertical-align:top;
    &.left{width:80%;padding-right:10px;}
    &.right{width:20%;padding-left:5px;}
  }
  &-alpha &-articles{
    display:inline-block;vertical-align:top;
    & .article{
      padding:18px 0;border-bottom:1px solid #ddd;
      &:first-child{padding-top:0;}
      &:last-child{padding-bottom:0;border-bottom:0;}
      &__image{height:250px;}
      &__category{position:absolute;padding:12px 16px 4px 12px;background-color:$bgc-m;font-size:12px;transform:translateY(-100%);}
      .no-image .article__category{position:relative;transform:none;}
      &__title,&__excerpt{padding:8px 10px 0;}
      &.textonly .article__category{position:relative;padding:6px 10px 2px;transform:none;}
      &.textonly .article__title{padding-top:0;}
    }
  }
  &-alpha &-articles-alpha{
    width:60%;padding-right:15px;border-right:1px solid #ddd;
    & .article{
      &:first-child .article__image{height:300px;}
      &__title{font-size:26px;}
    }
  }
  &-alpha &-articles-beta{
    width:40%;padding-left:15px;
  }
  &-item{
    padding-bottom:10px;
    &:last-child{padding-bottom:0;}
  }
}
.hfpadding{
  padding:20px 0;
  &.xs{padding:10px 0;}
  &.sm{padding:15px 0;}
  &.lg{padding:25px 0;}
}
// preformat
.hfprefmt{
  padding-top:2rem;padding-bottom:2rem;
  @media (min-width: $screen-m){padding-top:2.5rem;padding-bottom:2.5rem;}
  &.beta{
    padding-top:1.5rem;padding-bottom:1.5rem;
    @media (min-width: $screen-m){padding-top:2rem;padding-bottom:2rem;}
  }
}
.hfdivider{display:block;border-top:1px solid #ddd;}
.hfsection{
  display:flex;flex-flow:row wrap;
  @media (min-width: $screen-m){flex-wrap:nowrap;}
  &-header{
    padding-bottom:2rem;text-align:center;
    // &.beta{text-align:left;}
  }
  &-title{
    @extend %font-article;color:$punch;font-size:2.3rem;font-weight:700;
    @media (min-width: $screen-m){font-size:2.6rem;}
  }
  &-beta,&-charlie,&-articles{font-size:0;}
  &-articles{
    display:flex;flex-flow:row wrap;flex:1 1;
    @media (min-width: $screen-m){flex-wrap:nowrap;}
  }
  &-alpha &-articles{
    text-align:center;
    & .article{
      flex:1 1;min-width:100%;padding:1rem 0;
      @media (min-width: $screen-m){min-width:25%;padding:0 0.4rem;}
    }
    & .article:nth-child(1){padding-left:0;padding-right:0.8rem;}
    & .article:nth-child(2){padding-right:0.6rem;}
    & .article:nth-child(3){padding-left:0.6rem;}
    & .article:nth-child(4){padding-left:0.8rem;padding-right:0;}
  }
  &-alpha &-articles-alpha .article{
    &__image{height:200px;width:100%;}
    &__content{padding:8px 3px 5px;}
    &__title{line-height:1.2;}
    &__excerpt{padding-top:5px;}
    &__category{display:none;}
  }
  &-beta &-articles{
    display:flex;flex-flow:row wrap;flex:1 1;min-width:100%;
    &-alpha{
      @media (min-width: $screen-m){min-width:40%;}
    }
    &-beta{
      @media (min-width: $screen-m){min-width:60%;padding-left:2rem;}
      &.switch{
        @media (min-width: $screen-m){padding-left:0;padding-right:2rem;}
      }
    }
  }
  &-beta &-articles-alpha .article{
    position:relative;width:100%;
    &__image{position:absolute;height:200px;width:100%;max-width:350px;top:-100px;left:50%;border:1px solid #f8f9fa;transform:translateX(-50%);}
    &__content{margin-top:100px;padding:120px 20px 25px;background-color:#f2f2f2;z-index:2;}
    &__category,&__title{text-align:center;}
    &__category{padding-bottom:5px;}
    &__excerpt{max-width:400px;margin:0 auto;padding-top:10px;}
  }
  &-beta &-articles-beta .article{
    padding:1.5rem 0;border-bottom:1px solid #ddd;
    &:first-child{
      @media (min-width: $screen-m){padding-top:0;}
    }
    &:last-child{
      border-bottom:0;
      @media (min-width: $screen-m){padding-bottom:0;}
    }
    &__image{display:none;}
    &__content{padding:0 1rem;}
    &__category{padding-bottom:5px;color:$carmine-pink;}
    &__excerpt{padding:1rem 0.5rem 0 0;}
  }
  &-charlie &-articles-alpha .article{
    position:relative;flex:1 1;min-width:100%;padding:1rem 0;
    &:last-child{padding-bottom:0;}
    @media (min-width: $screen-m){min-width:auto;padding:0 1rem;}
    &__image{
      position:relative;height:22rem;
      @media (min-width: $screen-m){height:30rem;}
      &::before{
        content:'';position:absolute;height:12rem;bottom:0;right:0;left:0;
        @media (min-width: $screen-m){height:17rem;}
        background-image: linear-gradient(to top, rgba(30, 30, 30, 190), rgba(30, 30, 30, 0));
      }
      &::after{content:'';display:block;height:999rem;}
    }
    &__content{position:absolute;bottom:0;left:0;right:0;padding:1rem 2rem;}
    &__category{color:$carnation;}
    &__title{color:#fff;}
    &__excerpt{display:none;}
  }
}
.hfblock{
}
.hfsubscribe{
  padding:2rem 1.5rem;background-color:$dagreen;font-size:15px;
  &-desc{padding-bottom:10px;color:#f2f2f2;}
  &-btn{@extend %font-article;padding:10px;color:#333;background-color:#f2f2f2;font-weight:bold;text-align:center;}
}
