// @import '../colors/_all'
// @import '../common/_all'
// @use '../common/_all' as com // @use is not supported yet

$hdr-col-space: 0.4rem

.site-nav
  // $p -> .site-nav
  $p: &

  &-main
    position: relative
    background-color: #fff
    z-index: 99999

    &.full
      background-color: #eee

      @include breakpoint($desktop)
        box-shadow: 0 4px 6px 0 rgba(30, 30, 30, 0.1)

      #{$p}-dropdown
        display: block

    &.search
      #{$p}-search
        display: block

    #{$p}-bar
      color: #fff
      background-color: #3a3b3c
      height: 30px
      width: 100vw

    #{$p}-icon
      display: inline-block
      padding: 0 1.3rem

      @include breakpoint($desktop)
        padding: 0 1.8rem

      a
        @extend .bg-img
        display: block
        width: 22rem
        height: 3rem
        background-image: url(get-img('deerfield-scroll-logo.png'))

        @include breakpoint($desktop)
          width: 25rem
          height: 3.4rem

    .columns
      width: 100%

  &-content
    padding: 2rem 0 1.5rem

    &, .container, .columns, .column
      background-color: inherit

    @include breakpoint($desktop)
      padding-top: 3rem

    .columns
      &:last-child
        margin: 0

      .content
        &-left, &-right
          padding: 1rem 0
          border:
            top: 1px solid
            bottom: 1px solid

          @include breakpoint($desktop)
            position: relative
            padding: 2.3rem 0 2.1rem

        &-left
          flex-grow: 0
          border-color: $clr-nav-divi

          @include breakpoint($desktop)
            margin-right: 2rem

        &-right
          border-color: $da-light

  &-menu
    // parent concise, parent full
    $pc: &
    $pf: &-full

    height: 100%
    margin: 0 !important
    font-family: $ff-open
    letter-spacing: 0.2px

    @include breakpoint($desktop)
      padding-left: 2rem
      font-size: 1.8rem

    &-full
      position: fixed
      top: 0
      left: 0
      right: 0
      padding: 3rem 1.5rem 2rem

      @include breakpoint($desktop)
        padding: 7rem 3rem 3rem

    .column
      display: flex
      position: relative
      flex-direction: row
      height: 100%
      margin: 0
      padding: 0

      &.hide-mobile
        @include breakpoint(0 $desktop)
          display: none

      @include not('.top')
        margin: 0

      li
        display: inline-block
        margin: 0 auto
        padding: 0
        justify-content: center
        // align-items: center
        align-self: center
        white-space: nowrap
        cursor: pointer

        @include breakpoint($desktop)
          margin: 0 1.5rem
          padding: 0.2rem

        a, &.with-icon
          &:hover, &:active
            color: $da-dark

        a
          border-bottom: 1px solid transparent

          &:hover, &:active
            border-color: $da-mono

        span
          @include breakpoint(0 $desktop)
            display: none

        &.with-icon::before
          @extend %fa-icon
          @extend .far

          @include breakpoint($desktop)
            padding-right: 1rem
            font-size: 0.95em

        &#{$p}-menu-trigger
          span:last-child
            display: none

          &.active
            span:first-child
              display: none

            span:last-child
              @include breakpoint($desktop)
                display: inline-block

        &#{$p}-item-menu, &#{$p}-item-search
          @include breakpoint(0 $desktop)
            font-size: 1.3em

        &#{$p}-item-menu
          &::before
            content: fa-content($fa-var-bars)

          &.active::before
            content: fa-content($fa-var-times-octagon)

        &#{$p}-item-search
          &::before
            content: fa-content($fa-var-search)

          &.active::before
            content: fa-content($fa-var-times-octagon)

        &#{$p}-item-subscribe::before
          content: fa-content($fa-var-envelope)

    $sep-m: 1rem
    $sep-l: 1.5rem

    @include not-first-child('.column')
      @include breakpoint($desktop)
        padding-left: $sep-l

    @include not-last-child('.column')
      @include breakpoint($desktop)
        padding-right: $sep-l
        border-right: 1px solid $clr-nav-divi

  &-search
    display: none
    position: absolute
    // manual top adjustment for alignment
    top: 100%
    right: 0
    left: 0
    padding: 1rem
    background-color: inherit
    font-family: $ff-noto
    text-align: center
    z-index: 10
    box-shadow: 0 5px 10px 0 rgba(30, 30, 30, 0.15)

    @include breakpoint($desktop)
      top: 50%
      padding: 0
      text-align: left
      transform: translateY(-50%)
      box-shadow: none

    .columns
      align-items: center

    &-close
      display: none
      font-size: 1.1em
      white-space: nowrap
      cursor: pointer

      @include breakpoint($desktop)
        display: block

      &::before
        @extend %fa-icon
        @extend .far
        content: fa-content($fa-var-times-octagon)

        @include breakpoint($desktop)
          padding-right: 1rem
          font-size: 0.95em

      &:hover, &:active
        color: $da-mono

    #search-form
      width: 100%

      .columns
        align-items: center
        justify-content: center

        @include breakpoint($desktop)
          justify-content: flex-start

      .column
        padding:
          top: 0
          bottom: 0
        border: 0

        // targeting the search field
        @include not('.is-narrow')
          max-width: 60%
          padding-right: 0.5rem

    .search
      &-field, &-btn
        border-radius: 4px

      &-field
        width: 100%
        padding: 0.8rem 1.2rem
        background-color: inherit
        border: 1px solid $da-mono

      &-btn
        padding: 0.6rem
        background-color: transparent
        border: 0
        cursor: pointer

        span
          display: block

          &::before
            @extend %fa-icon
            @extend .far
            font-size: 1.05em
            content: fa-content($fa-var-search)

          &:hover
            color: $da-mono

  &-dropdown
    display: none
    position: absolute
    right: 0
    left: 0
    padding: 0.5rem 0
    background-color: #eee
    font-family: $ff-noto

    @include breakpoint($desktop)
      padding: 1rem 0 1.5rem

    .columns
      margin: 0

    section
      @include breakpoint($desktop)
        padding: 0 2.5rem
        border-right: 1px solid $clr-nav-divi

      &:last-child
        @include breakpoint($desktop)
          border-right: 0

    ul
      padding-top: 0

      &.is-12
        padding-bottom: 0

      li
        margin: 0.6rem 0
        padding: 0.2rem

        &.strong
          font:
            size: 1.1em
            weight: bold

        a
          border-bottom: 1px solid transparent

          &:hover, &:active
            color: $da-mono
            border-color: $da-mono
